* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body, #container {
    margin: 0;
    width: 100%;
    overflow: hidden; 
  }

body {
    min-height: 100vh;
    background: white;
}

.body-text{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: right;
    margin-top: 250px;
}

.navbar{
    padding: 20px 20px 20px 120px;
    background-color: whitesmoke !important;
    transition: all ease 0.4s;
    position:sticky;
    display: flex;
} 

.navbar-brand{
    font-size: 22px;
    color: white !important;
    margin-left: -150px;
    text-transform: uppercase;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.navbar .navbar-nav li a{
    display: flex;
    font-size: 18px;
    color: whitesmoke; 
}

#map{
    width: 100%;
    height: 87vh;
    flex: 1;
    position: absolute;
    margin:0;
    padding:0;
    overflow: hidden;
} 

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: 1px solid whitesmoke;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid whitesmoke;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}

.maps {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }
  @media (max-width: 767px) {
  #sidebar {
    display: none;
  }
  }

.panel {
    margin: 20px 10px 10px 20px;
  }
  .description {
    width: 250px;
    font-size: 16px;
    color: #333333;
    font-family: "Open Sans", Helvetica, sans-serif;
    padding: 10px 14px;
    background-color: rgba(245,245,220,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid grey;
  }